<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <hr>
    <div class="navbar">
        <div class="home"><a href="/home">Home</a> </div>
        <div class="about"><a href="/about">About</a></div>
        <div class="works"><a href="/works"></a> Works</div>
    </div>
    <hr>
    <section>
        <div class="container">
            <img src="/images/Elon_Musk.jpeg" alt="Elon Musk Photo" width="250px" height="400px">
        </div>
        <div class="contaniner2">
            <h1>Welcome to the page of Elon Musk!</h1>
            <h1>Elon Musk </h1>
            <p>Elon Reeve Musk FRS is an entrepreneur and business magnate. He is the founder, CEO, and Chief Engineer at SpaceX; early stage investor, CEO, and Product Architect of Tesla, Inc.; founder of The Boring Company; and co-founder of Neuralink and OpenAI.

             Musk was born to a Canadian mother and South African father and raised in Pretoria, South Africa. He briefly attended the University of Pretoria before moving to Canada aged 17 to attend Queen's University. He transferred to the University of Pennsylvania two years later, where he received bachelor's degrees in economics and physics. He moved to California in 1995 to attend Stanford University but decided instead to pursue a business career, co-founding the web software company Zip2 with brother Kimbal. 
            </p>
        </div>

    </section>
    <br>
    <br>
    <br>
    <hr>
    
    <footer>All rights are reserved</footer>
</body>
</html>