<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">

</head>
<body>
    <hr>
    <div class="navbar">
        <div class="home"><a href="/views/home.html">Home</a> </div>
        <div class="about"><a href="/views/about.html">About</a></div>
        <div class="works"><a href="/views/works.html">Works</a> </div>
    </div>
    <hr>
    <div class="main">
        <h1>Welcome to officel page of Elon Musk!</h1>
    </div>
    <br>
    <br>
    <br>
    <hr>
    
    <footer>All rights are reserved</footer>
</body>
</html>