<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <hr>
    <div class="navbar">
        <div class="home"><a href="/views/home.html">Home</a> </div>
        <div class="about"><a href="/views/about.html">About</a></div>
        <div class="works"><a href="/views/works.html"></a> Works</div>
    </div>
    <hr>

    <div class="companies">
        <div class="company1">
            <img src="/public/images/spaceX.jpeg" alt="" width="500px" height="250px">
            <h2>SpaceX</h2>
        </div>
        <div class="company2">
            <img src="/public/images/tesla.jpeg" alt="" width="500px" height="250px">
            <h2>Tesla</h2>
        </div>
        <div class="company1">
            <img src="/public/images/Neuralink-1.png" alt=" " width="500px" height="250px">
            <h2>Neuralink</h2>
        </div>
        <div class="company1">
            <img src="/public/images/zip-2.jpeg" alt="" width="500px" height="250px">
            <h2>Zip-2</h2>
        </div>
        
    </div>

    <br>
    <br>
    <br>
    <hr>
    
    <footer>All rights are reserved</footer>
</body>
</html>